
<input type="hidden" id="tokenTime" value="{{tokenTime}}">

<div>
    <h2 id="reloj"> Reloj </h2>
</div>
<div>
    <h2>A su Token actual le quedan:</h2>    
    <h3 id="relojToken"> token </h3>
</div>





<script>
    //Reloj
    const mostrarHora = () => {
        let fecha = new Date();
        let hora = formatoDato(fecha.getHours());
        let minutos = formatoDato(fecha.getMinutes());
        let segundos = formatoDato(fecha.getSeconds());
        document.getElementById("reloj").innerText = `${hora}:${minutos}:${segundos}`;
    }
    const formatoDato = (valor) => {
        if (valor < 10) {
            return "0" + valor
        } return valor;
    }
    let reloj = setInterval(mostrarHora, 1000);

    //Tiempo del token
    let tHoras, tMinutos, tSegundos
    let tokenTime = parseInt(document.getElementById("tokenTime").value, 10);

    const tokenExpira = setInterval(() => {
        tokenTime--;


        if (tokenTime > 0) {
            tHoras = formatoDato(Math.floor(tokenTime / 3600));
            tMinutos = formatoDato(Math.floor((tokenTime % 3600) / 60));
            tSegundos = formatoDato(tokenTime % 60);
        } else {
            tHoras = 0;
            tMinutos = 0;
            tSegundos = 0;
        }

        document.getElementById("relojToken").innerText = `${tHoras}:${tMinutos}:${tSegundos}`

        if (tokenTime <= 0) {
            clearInterval(tokenTime);
            window.location.href = "http://localhost:3000/login";
        }
    }, 1000)

    tokenExpira()
</script>